/* Media queries para dispositivos pequenos */
@media screen and (max-width: 576px) {

    header{
        padding: 50px;
    }

    #container{
        max-width: 220px;
    }

    #minhafoto{
        margin-bottom: 20px;
    }

    h1{
        font-size: 2.5em;
    }
    
    header h2{
        font-size: 22px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    #p1{
        font-size: 18px;

    }
    
}

/* Media queries para dispositivos médios */
@media screen and (min-width: 577px) and (max-width: 992px) {


}

/* Media queries para dispositivos grandes */
@media screen and (min-width: 993px) and (max-width: 1200px) {

}

/* Media queries para dispositivos extra grandes */
@media screen and (min-width: 1201px) {

}
